BOT_HOST=localhost
BOT_PORT=25565
BOT_VERSION=1.20.4
BOT_AUTH=offline
BOTS_CONFIG_PATH=./bots.config.json
BOT_START_DELAY_MS=5000
BOT_LOGIN_TIMEOUT_MS=20000
BOT_SPAWN_TIMEOUT_MS=20000
BOT_RALLY_TIMEOUT_MS=120000
BOT_CONFIGURATION_FALLBACK_DELAY_MS=1500
BOT_CONNECT_RETRY_DELAY_MS=7000
BOT_CONNECT_MAX_RETRIES=2
LOG_FILE_PATH=./logs/app.log
LOG_INFO_ENABLED=true
LOG_WARN_ENABLED=true
LIGHTAUTH_REGISTER_COMMAND=/register
LIGHTAUTH_LOGIN_COMMAND=/login
LIGHTAUTH_COMMAND_DELAY_MS=1500
LIGHTAUTH_TIMEOUT_MS=15000
